/* body */
body {
    height: 100%;
    width: 100%;
    background-image: url("https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExZWF5cHNwdzZlMndveXV1M3g4aGFsNDY2dWxubzlnMDVsaXZ1YXFweiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/3o7aDcrsww5Ybp18hq/giphy.gif");
    background-position: center;
    background-size: 100% 100%;
    margin: 0px;
    background-repeat: no-repeat;
}

/* navbar */ 
nav {
    margin: 50px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    justify-content: center;
}
nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-right: 50px;
}

/* buttons 
button {
    color: white;
    margin-left: auto;
    margin-right: auto;
    text-shadow:0px 0px 1px;
    background: none;
    font-family: "Figtree", sans-serif;
    border-style: none;
    width: 100px;
    height: 50px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
    */

/* button animation */
/* From Uiverse.io by dalbrechtmartin */ 
button,
.home-btn,
.abt-me-btn,
.proj-btn,
.test-btn,
.cta-btn {
  position: relative;
  padding: 20px 35px;
  background: #ffffff;
  font-size: 20px;
  font-weight: 600;
  color: #000000;
  box-shadow: 0px 0px 10px 0px rgb(255, 255, 255);
  border-radius: 100px;
  border: none;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.star-1 {
  position: absolute;
  top: 20%;
  left: 20%;
  width: 25px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 0.8s cubic-bezier(0.05, 0.83, 0.43, 0.96);
}

.star-2 {
  position: absolute;
  top: 45%;
  left: 45%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-3 {
  position: absolute;
  top: 40%;
  left: 40%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-4 {
  position: absolute;
  top: 20%;
  left: 40%;
  width: 8px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-5 {
  position: absolute;
  top: 25%;
  left: 45%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-6 {
  position: absolute;
  top: 5%;
  left: 50%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
}

button:hover {
  background: #000000;
  color: #ffffff;
  box-shadow: 0 0 80px #ffffff8c;
}

button:hover .star-1 {
  position: absolute;
  top: -20%;
  left: -20%;
  width: 20px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

button:hover .star-2 {
  position: absolute;
  top: 35%;
  left: -25%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

button:hover .star-3 {
  position: absolute;
  top: 80%;
  left: -10%;
  width: 10px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

button:hover .star-4 {
  position: absolute;
  top: -25%;
  left: 105%;
  width: 20px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

button:hover .star-5 {
  position: absolute;
  top: 30%;
  left: 115%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

button:hover .star-6 {
  position: absolute;
  top: 80%;
  left: 105%;
  width: 10px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

.fil0 {
  fill: #fffdef;
}

.hero {
    color: white;
    border: 1px solid #ccc;
    border-width: 100%;
    object-fit: contain;
    height: 1000px;
    padding: 20px;
}

.about-me {
   color: white;
   border: 1px solid #ccc;
   border-width: 100%;
   object-fit: contain;
   height: 1000px;
   padding: 20px;
}

.projects {
   color: white;
   border: 1px solid #ccc;
   border-width: 100%;
   object-fit: contain;
   height: 1000px;
   padding: 20px;
}

.tests {
   color: white;
   border: 1px solid #ccc;
   border-width: 100%;
   object-fit: contain;
   height: 1000px;
   padding: 20px;
}

.cta {
   color: white;
   border: 1px solid #ccc;
   border-width: 100%;
   object-fit: contain;
   height: 1000px;
   padding: 20px;
}

 h1{
    font-family: "Figtree", sans-serif;
    margin-left: 20px;
    color: white;
    z-index: 1;
}